---
import Layout from "@layouts/Layout.astro";
import Accordion from "src/modules/Accordion/Accordion.astro";
---
<Layout>
	<h1 class="wide">Hello Astro!</h1>
	<div class="wide">
		<p-button >Click me</p-button>
	</div>
	<Accordion></Accordion>
</Layout>


<style is:global lang="scss">
  @use "../styles/global.scss";
</style>
