---
import Layout from "@layouts/Layout.astro";
import Accordion from "src/modules/Accordion/Accordion.astro";


const response = await fetch('https://astro-demo-pds.vercel.app/api/models');
const data = await response.json();

---
<Layout>
	<h1 class="wide">Hello Astro!</h1>
	<div class="wide">
		<p-button >Click me</p-button>
	</div>
	<Accordion sections={data}></Accordion>
</Layout>


<style is:global lang="scss">
  @use "../styles/global.scss";
</style>
